/*----------------Uses-Font----Poppins-------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* -------------------Header-part -----------------*/
.greatest-show {
    color: #FFFFFF;
    display: flex;
    margin: 50px;
    background-color: #161616;
    padding-top: 70px;
    border-radius: 10px;
    padding-left: 70px;
    padding-right: 0;
}

.greatest-show h1 {
    font-size: 30px;
}

.greatest-show .Ronaldo img {
    margin-left: 30px;
}

.show-info a {
    text-decoration: none;
}

.watch-live {
    color: #FFFFFF;
    background: #DD0000;
    border-radius: 5px;
    padding: 12px 25px;
}

.watch-live i {
    font-size: 20px;
    padding-top: 10px;
}

.messi img {
    height: 100%;
    width: 70%;
    border-radius: 6px;
}

/* body-part */
/* --------------------
           Navbar-Part
-------------------- */
.main-grid {
    display: flex;
}

.navbar-grid {
    margin-top: 100px;
    display: inline-block;

}

.lists-background {
    width: 250px;
    height: 270px;
    border-radius: 10px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background-color: #161616;
}

.nav {
    display: flex;
    justify-content: left;
    align-items: center;

}

.nav li {
    border: 1px solid;
    text-align: center;
    width: 220px;
    height: 40px;
    list-style: none;
    background: #FFFFFF;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 30px;
}

#upcoming-match {
    color: #FFFFFF;
    background-color: #DD0000;
}

.homePage-link {
    text-decoration: none;
    color: #161616;
}

.nav li:hover {
    background-color: aquamarine;
}

/*--------------------
 Transfer-Banner
 ------------------ */
.arg img {
    width: 150px;
    height: 100px;
}

.ger img {
    width: 150px;
    height: 100px;
}

span {
    margin-top: 40px;
}

.Arg-Ger {
    display: flex;
}

.transfer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
    width: 312px;
    height: 362px;
    margin-top: 120px;
    border-radius: 10px;
}

.transfer {
    border: 1px solid lightgray;
}

.transfer-banner {
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 15px;

}

.transfer-border {
    display: inline;
    border: 1px solid;
    margin-left: 20px;

}

h4 {
    margin-left: 20px;
}

.transfer-info {
    display: flex;
    margin: 20px;
}

.transfer-info .duration {
    margin-right: 10px;
}

/*---------------- 
Footer-part
------------- */
.footer-part {
    background-color: #161616;
}

.footer-goal {
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 140px;
    text-align: center;
    padding-top: 50px;
}

hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-lists {
    color: #FFFFFF;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;


}

.footer .footer-lists li {
    margin-left: 30px;
}